h1{
    text-align: center;
    font-size: 40px;
   
}
input[type=text]{
    width: 20%;
    padding: 3px;
    font-family: fantasy;
}
body{
    background-color: black;
    color: white;
    font-family: fantasy;
}
#lista{
    font-size: 30px;
}
#nowe{
    text-align: center;
}

form{
    text-align: center;
}
button{
    font-family: fantasy;
}
#usuniecie{
    display: none;
}